{% extends 'layouts/main.html' %}
{% block title %}Echobox{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 list-group">
      {% for echo in echoes  %}
        <div class="list-group-item">
          <h3 id='heading'>{{ echo.message }}</h3>
          <a href="{{ url_for('edit', url=echo.url) }}" class="btn btn-xs btn-warning edit-this"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          <a href="{{ url_for('delete', url=echo.url) }}" class="btn btn-xs btn-danger delete-this"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
          <a href="{{ echo.permalink }}">{{ echo.permalink }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
