{% extends 'layouts/main.html' %}
{% block title %}Echobox{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form action="/" method="post">
        <div class="form-group">
          <label for="message">Echo something into the box</label>
          <textarea class="form-control" name="message" id="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Echo!</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
